* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(images/bg-white.jpg);
}

/* Possíveis fontes google: Coda, Goldman, Oxanium, Special Elite */

h1 {
    font-family: 'Goldman', cursive;
}

h2, h3 {
    font-family: 'Goldman', cursive;
    font-weight: 400;
}

p, blockquote, li {
    font-family: 'Coda', cursive;
}

/* CABEÇALHO */
header {
    padding: 16px 0;
    background-image: url(images/bg-black.jpg);
    color: #57ad45;
}

header nav li {
    display: inline;
    margin-right: 16px;
    font-size: 18px;
}

header li a {
    color: #57ad45;
    text-decoration: none;
}

header li a:hover {
    color:#2bff00;
}

.container {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    padding: 32px 32px;
}

header .container,
section .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

section p,
#skills li,
section blockquote {
    font-size: 18px;
}

h2 {
    margin-bottom: 16px;
    /* font-style: italic; */
}

section p,
#skills li {
    text-align: justify;
}

/* SEÇÃO SOBRE */
section .container {
    align-items: flex-start;
}

#sobre .container {
    background-color: #dcdcdc;
}

#sobre .container img {
    margin-right: 16px;
}

#sobre p {
    margin-bottom: 8px;
}

/* SEÇÃO HABILIDADES */
#skills .container {
    background-color: #bdd2b0;
}

#skills .textarea {
    margin-right: 16px;
}

#skills .container img {
    margin-left: 16px;
}

#skills li {
    padding-left: 16px;
    list-style-position: inside;
}

#skills p {
    margin-bottom: 8px;
}

/* SEÇÃO SUA VEZ */
#riddle {
    background-image: url(images/bg-black.jpg);
    color: #dcdcdc;
}

#riddle .container {
    flex-wrap: wrap;
    background: rgba(25, 25, 25, 0.8) ;
}

#riddle .textarea {
    max-width: 300px;
    width: 100%;
    margin-right: 16px;
}

#riddle p {
    margin-bottom: 8px;
}

blockquote {
    margin: 8px 16px;
    text-align: center;
    font-style: italic;
}


#riddle img {
    height: 300px;
    margin: 0 16px;
}

#riddle .form {
    max-width: 300px;
    display: block;
    margin-left: 16px;
}

#riddle .form textarea,
#riddle .form input {
    width: 300px;
}

/* SEÇÃO CONTATO */
#contact .container {
    background-color: #dcdcdc;
    display: block;
}

.contact-methods {
    display: flex;
    justify-content: space-between;
}

form input,
form textarea,
form button {
    display: block;
    width: 300px;
    margin-bottom: 8px;
    padding: 8px;
    border-radius: 8px;
}

form textarea {
    resize: none;
    height: 180px;
}

section h3 {
    margin-bottom: 16px;
}

form button {
    background-color: #3b6932;
    color: #dcdcdc;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: #43a130;
}

input:focus,
textarea:focus {
    outline-color: #2bff00;
}

.social-links img {
    height: 24px;
}

.social-links li {
    display: inline;
    margin-right: 8px;
}

.social-links li a {
    text-decoration: none;
}

footer {
    background-color: #182c61;
    color: #ecf0f1;
    padding: 16px 0;
}